<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href='normalize.css' rel='stylesheet'/>
    <link href='skeleton.css' rel='stylesheet'/>
    <link rel='stylesheet' href='style.css'/>

</head>
<body>
<div class="container">
    <div id="app"></div>
</div>

</body>
<script src="app.js"></script>
</html>
